adf_publish/pipeline/Improvedpipline.json
{
	"name": "Improvedpipline",
	"properties": {
		"activities": [
			{
				"name": "CopyDataResolved",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"prefix": {
								"value": "@{concat('_',variables('ExecutionTime'))}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ForMetaData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "forMetadataLake",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionTime",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ExecutionTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-13T05:43:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}