adf_publish/pipeline/MetadataDrivenCopyTaskModule9_copy1.json
{
	"name": "MetadataDrivenCopyTaskModule9_copy1",
	"properties": {
		"activities": [
			{
				"name": "LookupForMainTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    sourceContainerName,\n\tsourceFolderName,\n\tsourceFileName,\n\tsourceColumnDelimeter,\n\tsourceEncoding,\n\tsourceEscapeCharacter,\n\tsourceQuoteCharacter,\n\tdestinationSchemaName,\n\tdestinationTableName,\n\tcopyDIUValue,\n\tcopyMapping\nFROM @{pipeline().parameters.MainControlTableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupForMainTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupForMainTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pipelineParamChild",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipelineParamChild",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceContainerName": {
										"value": "@item().sourceContainerName",
										"type": "Expression"
									},
									"sourceFolderName": {
										"value": "@item().sourceFolderName",
										"type": "Expression"
									},
									"sourceFileName": {
										"value": "@item().sourceFileName",
										"type": "Expression"
									},
									"sourceColumnDelimeter": {
										"value": "@item().sourceColumnDelimeter",
										"type": "Expression"
									},
									"sourceEncoding": {
										"value": "@item().sourceEncoding",
										"type": "Expression"
									},
									"sourceEscapeCharacter": {
										"value": "@item().sourceEscapeCharacter",
										"type": "Expression"
									},
									"sourceQuoteCharacter": {
										"value": "@item().sourceQuoteCharacter",
										"type": "Expression"
									},
									"destinationTableName": {
										"value": "@item().destinationTableName",
										"type": "Expression"
									},
									"destinationSchemaName": {
										"value": "@item().destinationSchemaName",
										"type": "Expression"
									},
									"copyMapping": {
										"value": "@item().copyMapping",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "errorHand",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_errorHand]",
					"storedProcedureParameters": {
						"activityName": {
							"value": {
								"value": "@activity('ForEach1').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"dateTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Errorcode": {
							"value": {
								"value": "@activity('ForEach1').error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorMessage": {
							"value": {
								"value": "@activity('ForEach1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"failure_type": {
							"value": {
								"value": "@activity('ForEach1').error.failureType",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"MainControlTableName": {
				"type": "string",
				"defaultValue": "[etl].[tControlMetadata]"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-16T15:56:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}