adf_publish/pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Test meta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Test meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "testvariable",
					"value": {
						"value": "@{if(startswith(activity('Test meta').output.itemName,'c'),'credits',if(startswith(activity('Test meta').output.itemName,'r'),'ratings','movie'))}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"testvariable": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-23T08:28:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}